
.about-content {
    flex: 0 0 100%;
    max-width: 100%;
    
    }
    .about-text {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .about-text h3 {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 700;
      color: var(--text-black-900);
    }
    .about-text h3 small {
      color:var(--skin-color);
      font-family: 'Lobster';
      font-size: 25px;
      font-weight: 200;
      
    }
    .about-text p {
      font-size: 16px;
      line-height: 25px;
      color: var(--text-black-700);
    }
    .personal-info {
      flex: 0 0 60%;
      max-width: 60%;
      margin-top: 40px;
    }
    .skills {
      flex: 0 0 40%;
      max-width: 40%;
    margin-top: 40px;
    }
    .info-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .info-item p {
      font-weight: 600;
      padding: 10px 0 ;
      font-size: 16px;
      color: var(--text-black-900);
      border-bottom: 1px solid var(--bg-black-50);
    }
    .info-item p span {
      font-weight: 400;
      color: var(--text-black-700);
      margin-left: 4px;
      display: inline-block;
    }
    .buttons {
      margin-top: 30px;
    }
    .btn {
      margin-top: 10px;
      margin-right: 20px;
    }
    .skills {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .skill-item {
      display: flex;
      flex: 0 0 25%;
      max-width: 25%;
      padding-left: 4rem;
      margin: 2rem 0;
      align-items: center;
      flex-direction: column;
    }
 
    .about-head {
        top: 100px;
        border-top: 1px solid var(--skin-color);
    }
    .head {
        display: flex;
        height: 20px;
        margin-top: -13px;
        background: var(--bg-black-900);
        padding-right: 25px;
    }
    .head i {
        font-size: 20px;
        color: var(--skin-color);
        margin-right: 20px;
    }
    .head h4 {
        font-size: 24px;
        margin: -5px;
        font-weight: 700;
        color: var(--text-black-900);
    }
    .skill-item i {
        font-size: 20px;
        margin-bottom: 20px;
        /* line-height: 40px; */
        color: var(--skin-color);
    }
    .skill-item h5 {
      font-size: 16px;
      color: var(--text-black-700);
    }
    .experience, .education {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 130px;
    }
    .title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    }
    .timeline-box {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
    }
    .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
    }
    .timeline-item:last-child {
      padding-bottom: 0;
    }
    .timeline-item::before {
      content: "";
      width: 1px;
      position: absolute;
      height: 100%;
      left: 7px;
      top: 0;
      background-color: var(--skin-color);
    }
    .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
    }
    .timeline-data {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
    }
    .timeline-data .fa {
      margin-right: 15px;
    }
    .timeline-title {
    font-weight:700 ;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
    }
    .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
    }
    /* .hr {
      display: flex;
      flex: 0 0 100%;
    } */
    /* .hr hr {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      margin: 0 10px; */

      /* border: 1px solid var(--skin-color); */
      /* background: var(--skin-color);
    }
    .hr hr:last-child {
      ma
    } */