/* @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');

  .home-info {
    flex: 0 0 60%;
    max-width: 60%;
  }
  h3.hello {
    font-size: 28px;
    margin: 15px 0;
  }
  h3.hello small {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    font-weight: 200;
    color: var(--skin-color);
  }
  h3.my-profession {
    font-size: 25px;
    margin: 15px 0 ;
    font-weight: 200;
  
  }
  .typing {
    color: var(--skin-color);
    font-family: 'Lobster', cursive;
  
  }
  .home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
  }
   .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
  }
  .home-img img {
    height: 330px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
  }
  .home-img::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-bottom: 8px solid var(--skin-color);
    border-right: 8px solid var(--skin-color);
    bottom: -40px;
    right: 20px;
  } 
  .home-img::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-top: 8px solid var(--skin-color);
    border-left: 8px solid var(--skin-color);
    top: -40px;
    left: 20px;
  } 
 .menu {
   font-size: 30px;
   color: var(--skin-color);
   position: fixed;
display: none;
top: 60px;
 }

 @media (max-width: 900px){
   .menu {
     display: flex;
   }
 }
