@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');
.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid var(--bg-black-50);
    padding: 30px;
    z-index: 10;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
  }
  .logo small {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
  }
  .logo small {
    font-size: 30px;
    font-weight: 100;
    font-family: "Pacifico";
  }
  .logo small::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid var(--skin-color);
    border-left: 4px solid var(--skin-color);
    bottom: 0;
    left: 0;
  }
  .logo small::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 4px solid var(--skin-color);
    border-right: 4px solid var(--skin-color);
    top: 0;
    right: 0;
  }
 
  .nav-item {
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
  }
  
  .sidebar-item {
    font-size: 18px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-700);
    padding: 15px 15px;
    cursor: pointer;
  }
 
  .active {
    color: var(--skin-color);
    
  }
  .sidebar-item i {
    margin-right: 15px;
  }

 
  /* .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
  
  }
  .nav-toggler small {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
  }
  .nav-toggler small::before {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
  }
  .nav-toggler small::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
  } */
