@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504E70;
}
.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins' sans-serif;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
}
.hidden {
  display: none;
}
.main-content {
  padding-left: 270px;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;

}
.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 -15px;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: wheat;
  border-radius: 40px;
  background: var(--skin-color);
  display: inline-block;
  border: none;
  white-space: nowrap;
transition: all 0.3s ease;

}
.btn:hover {
  transform:scale(1.05);
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid var(--bg-black-50);
  padding: 30px;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: center;

}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
}
.aside .logo a  span {
  font-size: 40px;
  font-family:'Clicker', cursive;
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid var(--skin-color);
  border-left: 4px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 4px solid var(--skin-color);
  border-right: 4px solid var(--skin-color);
  top: 0;
  right: 0;
}
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;

}
.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler span::before {
content: '';
height: 2px;
width: 18px;
background: var(--skin-color);
position: absolute;
top: -6px;
left: 0;
}
.aside .nav-toggler span::after {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav {
  margin-top: 50px;
}
.aside .nav li {
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}
.aside .nav li a.active {
  color: var(--skin-color);
}
.aside .nav li a i {
  margin-right: 15px;
}
/* homme */

.home {
  
  display: flex; min-height: 100vh;
  color: var(--text-black-900);
}
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}
h3.hello {
  font-size: 28px;
  margin: 15px 0;
}
h3.hello span {
  font-family: 'Clicker Script ', cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}
h3.my-profession {
  font-size: 30px;
  margin: 15px 0 ;

}
.typing {
  color: var(--skin-color);

}
.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}
.home .home-img img {
  height: 350px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}
.home-img::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  bottom: -40px;
  right: 20px;
} 
.home-img::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  top: -40px;
  left: 20px;
} 
.hidden {
  display: none !important;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: '';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
/* about */
.about-content {
flex: 0 0 100%;
max-width: 100%;

}
.about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about-text h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about-text h3 span {
  color:var(--skin-color);
  
}
.about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}
.personal-info {
  flex: 0 0 60%;
  max-width: 60%;
margin-top: 40px;
}
.skills {
  flex: 0 0 40%;
  max-width: 40%;
margin-top: 40px;
}
.info-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.info-item p {
  font-weight: 600;
  padding: 10px 0 ;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
margin-left: 4px;
display: inline-block;
}
.buttons {
  margin-top: 30px;
}
.btn {
  margin-top: 10px;
  margin-right: 20px;
}
.skill-item {
  flex: 0 0 50%;
  margin-top:10px ;
}
.experience, .education {
flex: 0 0 50%;
max-width: 50%;
margin-top: 30px;
}
.title {
font-size: 24px;
margin-bottom: 30px;
font-weight: 700;
color: var(--text-black-900);
}
.timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.timeline {
background-color: var(--bg-black-100);
padding: 30px 15px;
border: 1px solid var(--bg-black-50);
border-radius: 10px;
width: 100%;
position: relative;
}
.timeline-item {
position: relative;
padding-left: 37px;
padding-bottom: 50px;
}
.timeline-item:last-child {
  padding-bottom: 0;
}
.timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}
.circle-dot {
position: absolute;
left: 0;
top: 0;
height: 15px;
width: 15px;
border-radius: 50%;
background-color: var(--skin-color);
}
.timeline-data {
font-weight: 400;
font-size: 14px;
margin-bottom: 12px;
color: var(--text-black-700);
}
.timeline-data .fa {
  margin-right: 15px;
}
.timeline-title {
font-weight:700 ;
font-size: 18px;
margin-bottom: 15px;
text-transform: capitalize;
color: var(--text-black-900);
}
.timeline-text {
line-height: 25px;
font-size: 16px;
text-align: justify;
color: var(--text-black-700);
}
.service .container {
  padding-bottom: 40px;
}
.service-item {
  margin-bottom: 30px;
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.service-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3S ease;

}
.service-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46 ,77 ,0.15);
}
.service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}
.service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.service-item-inner:hover .icon  {
  background: var(--skin-color);
}
.service-item-inner:hover .icon .fa {
  color: #e8dfec;
}
.service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.service-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}
/* ////////// */
.portfolio .container {
  padding-bottom: 40px;
}
.portfolio-heading {
flex: 0 0 100%;
max-width: 100%;
margin-bottom: 40px;
}
.portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}
.portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33% ;
  margin-bottom: 30px;
}
.portfolio-item-inner {
  border: 6px solid var(--bg-black-100);
  overflow: hidden;
  cursor: pointer;
 border-radius: 20px;

}
.portfolio-img img {
 width: 100%;
 display: block; 
}
/* content start */
.content-title {
color: var(--skin-color);
text-align: center;
font-size: 25px;
margin-bottom: 20px;
}
.content-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}
.content-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60PX;
}
.content-info-item .icon {
  display: inline-block;
}
.content-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}
.content-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.content-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}
.content-info-item:last-child {
  margin-top: 20px;
}
.content-form {
  flex: 0 0 100%;
  max-width: 100%;
}
.content-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.content-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;

}
.content-form .form-item {
  margin-bottom: 30px;
} 
.form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}
.form-item  .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.content-form .btn {
  height: 50px;
  padding: 0 50px;
}
.content-form textarea {
  height: 140px;
}
/* /////// */
@media (max-width: 1199px) {
  .aside {
    left: -270px;
  }
  .main-content {
    padding-left: 0;
  }
  .info-item p span {
    display: block;
    margin-left: 0;
  }
}
@media (max-width: 991px){
.home-img {
  display: none;

}
.home-info {
  flex: 0 0 100%;
  max-width: 100%;
}
.service-item, .portfolio-item {
  flex: 0 0 100%;
  max-width: 100%;

}
}
@media (max-width: 767px){
  
  .personal-info ,
  .skills, 
  .education, 
  .experience, 
  .service-item, 
  .portfolio-item ,
  .content-info-item  ,
  .content-form .col-6         {
    flex: 0 0 100%;
    max-width: 100%;

  }
}