   /* #Portfolio{
    padding-bottom: 40px;
    
  } */
  .portfolio-heading { 
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
  }
  .portfolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
  }
  .portfolio-item {
    flex: 0 0 28%;
    max-width: 33.33% ;
    /* max-height: 33%; */
    margin-bottom: 30px;

  }
  .portfolio-item-inner {
    border: 6px solid var(--bg-black-100);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    margin: 0 20px;
  }
  .portfolio-img img {
   width: 100%;
   border-radius: 20px;
   max-height: 250px;  
   display: block; 
  }